---
import BasicLayout from "../../Layouts/BasicLayout.astro";
import Nav from "../../Components/Nav.astro";
import Updates from "../../ReactComponent/components/Updates";
---


<BasicLayout>
{/* 
  ------------------ 
  Nav bar
  ------------------ 
*/}
  <Nav path="/updates"/>
  <main class="bg-slate-100 p-2">
    <Updates client:load/>
  </main>
</BasicLayout>