---
import { RightArrow } from "../ReactComponent/icons/Arrow_Icons";
import { HomeIcon2 } from "../ReactComponent/icons/Section_Icons";
const { path = "/" } = Astro.props;
---

{
  /* 
  ------------------ 
  Nav bar
  ------------------ 
  */
}
<nav
class="w-full min-h-[50px] border-b-2 border-indigo-400 flex items-center px-4 bg-amber-50"
>
  <div class="flex items-center gap-3">
    <a href="/" class="cursor-pointer" title="Home">
      <HomeIcon2 dimension={30} color="#62748e" />
    </a>
    <RightArrow dimension={30} color="oklch(0.585 0.233 277.117)" />
    <a
      href={path}
      class="no-underline italic hover:text-indigo-500 text-slate-500"
      title={path[0].replace("/", "") + path.slice(1)}
      >{path[0].replace("/", "") + path.slice(1)}</a
    >
  </div> 
</nav>
