---
import BasicLayout from "../../Layouts/BasicLayout.astro";
import Nav from "../../Components/Nav.astro";
import { BookIcon, SearchIcon } from "../../ReactComponent/icons/Other_Icons";
const allGlossary = await Astro.glob("./*.md");
---

<BasicLayout>
  <Nav path={"/glossary"} />
  <main class="p-4">
    <div class="px-4 py-2 rounded-lg shadow-sm flex gap-2 justify-center items-center border border-gray-300 bg-white">
      <SearchIcon />
      <input
        id="search"
        type="text"
        placeholder="Search terms..."
        class="w-full p-2 outline-none"
        oninput="searchGlossary()"
        onkeypress="handleEnter(event)"
      />
    </div>
    <div id="glossary-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
      {allGlossary &&
        allGlossary.length > 0 &&
        allGlossary.map((md_file) => (
        <a
          href={md_file.url}
          class="glossary-item p-4 border border-blue-100 bg-gray-100 rounded-lg shadow hover:bg-gray-200 transition flex gap-2 items-center text-blue-400"
        >
          <BookIcon />
          <h2 class="text-lg font-semibold text-slate-700">{md_file.frontmatter.title}</h2>
        </a>
      ))}
    </div>
  </main>

  <script is:inline>
    function searchGlossary() {
      const searchInput = document.getElementById('search').value.toLowerCase();
      const items = document.querySelectorAll('.glossary-item');
      items.forEach(item => {
        const title = item.querySelector('h2').textContent.toLowerCase();
        item.style.display = title.includes(searchInput) ? 'flex' : 'none';
      });
    }

    function handleEnter(event) {
      if (event.key === 'Enter') {
        const searchInput = document.getElementById('search').value;
        if (searchInput.trim()) {
          window.location.href = `/glossary/${encodeURIComponent(searchInput)}`;
        }
      }
    }
  </script>
</BasicLayout>
