---
const sections: string[] = ["Home", "Cheatsheets", "Updates", "About"];
import { DiscordIcon, GithubIcon } from "../ReactComponent/icons/Social_Icons";
---

<footer
  class="w-full dark:bg-[#101012] dark:border-t-slate-400/10 bg-slate-900 min-h-[100px] flex py-2 px-4 justify-center items-center border-b-8 border-indigo-400 border-t-2 border-t-slate-400 flex-wrap max-[600px]:flex-col"
>
  <ul class="flex gap-5 flex-wrap justify-center items-center max-[600px]:gap-4 max-[600px]:mb-5">
    {
      sections
        ? sections.map((section) => (
            <li>
              <a class="text-slate-400 italic" href={section === "Home" ? "/" : "/" + section.toLowerCase() }>
                {section}
              </a>
            </li>
          ))
        : null
    }
  </ul>
  <div class="flex gap-3 flex-1 justify-end flex-wrap items-center max-[600px]:justify-center">
    <span class="text-slate-300 italic"
      >&copy; <a href="https://github.com/Adam-Elmi" target="_blank" class="mr-2">Adam Elmi</a> {new Date().getFullYear()}</span
    >
    <a href="https://github.com/Adam-Elmi/SomCheat">
      <GithubIcon color="#fff" />
    </a>
    <a href="https://discord.com/users/adamcade">
      <DiscordIcon />
    </a>
  </div>
</footer>
